#head{
    color: #428bca; 
    font-family: 'Roboto', sansSerif;
    font-size: 36px;
}
html, body {
    max-width: 100%;
    overflow-x: hidden;
}
body{
    overflow: hidden;
    background-image: linear-gradient(to left,#8a56ab,#d1bde0);
    background-size: stretch;
    background-attachment: fixed;
}